.btn {
  padding-top: clamp(1rem, 1vw, 1.7rem);
  padding-bottom: clamp(1rem, 1vw, 1.7rem);
  padding-left: clamp(1rem, 5vw, 5.5rem);
  padding-right: clamp(1rem, 5vw, 5.5rem);
  background-color: $red;
  color: $white;
  width: max-content;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: clamp(1rem, 2vw, 1.4rem);
}
